// Palette color variables for matching with MUI Theme

//################ Dark Theme ################

//$dark-primary-dark: #000000;
//$dark-primary-main: #212121;
//$dark-primary-light: #484848;

//$dark-secondary-dark: #003d33;
//$dark-secondary-main: #00695c;
//$dark-secondary-light: #439889;

//$dark-error-dark: #9a0007;
//$dark-error-main: #d32f2f;
//$dark-error-light: #ff6659;

//$dark-warning-dark: #c49000;
//$dark-warning-main: #fbc02d;
//$dark-warning-light: #fff263;

//$dark-info-dark: #004ba0;
//$dark-info-main: #1976d2;
//$dark-info-light: #63a4ff;

$dark-success-dark: #005005;
$dark-success-main: #2e7d32;
$dark-success-light: #60ad5e;

$dark-background-light: #343D46; //Charcoal
$dark-background-main: #23292F; //Gunmetal
$dark-background-dark: #121619; //Rich Black


$dark-background-secondary: #697268; //Nickel

$dark-background-bright: #A3A7A3; //Quick Silver

$dark-primary-main: #206C97; //Sapphire Blue

$dark-secondary-main: #DE643F; //Copper Red

$dark-info-main: #2CA08F; //Persian Green

$dark-error-main: #E63746; //Imperial Red

$dark-background-paper: #121619ef;

//################ Light Theme ################

/*$light-primary-dark: #003d33;
$light-primary-main: #00695c;
$light-primary-light: #439889;

$light-secondary-dark: #003d33;
$light-secondary-main: #00695c;
$light-secondary-light: #439889;

$light-error-dark: #9a0007;
$light-error-main: #d32f2f;
$light-error-light: #ff6659;

$light-warning-dark: #c49000;
$light-warning-main: #fbc02d;
$light-warning-light: #fff263;

$light-info-dark: #004ba0;
$light-info-main: #1976d2;
$light-info-light: #63a4ff;

$light-success-dark: #005005;
$light-success-main: #2e7d32;
$light-success-light: #60ad5e;*/

$light-background-paper: #B8C4CCEF; //Gainsboro
$light-background-background: #F4E8E1; //Linen

$light-success-dark: #005005;
$light-success-main: #2e7d32;
$light-success-light: #60ad5e;

$light-background-light: #B8C4CC; //Silver Sand
$light-background-main: #718998; //Light Slate Gray
$light-background-dark: #4D626A; //Deep Space Sparkle


$light-background-secondary: #697268; //Nickel

$light-background-bright: #A3A7A3; //Quick Silver

$light-primary-main: #206C97; //Sapphire Blue

$light-secondary-main: #DE643F; //Copper Red

$light-info-main: #2CA08F; //Persian Green

$light-error-main: #E63746; //Imperial Red

$light-background-paper: #121619ef;