@import '../../../elevation.scss';
@import '../../../palette.scss';

.category-bar-light {
    //@include elevation(2);
    display: 'flex';
    margin: 0;
    width: '100%';
    height: 96px;
    border-radius: 4px;
    //background-color: $light-background-paper;
}

.category-bar-dark {
    //@include elevation(2);
    display: 'flex';
    margin: 0;
    width: '100%';
    height: 96px;
    border-radius: 4px;
    //background-color: $dark-background-paper;
}